Python Basics:
--------------

In [4]:
print('Welcome Python in Jupyter notebook')

Welcome Python in Jupyter notebook

Python Variable & DataTypes:
----------------------------

In [8]:
# Variable

name = 'Selva'

age = 25

print(name, ' age is ', age)

print('---------------------------------------------------')

# Data Type

print(name, type(name))

print(age, type(age))

Selva  age is  25
---------------------------------------------------
Selva <class 'str'>
25 <class 'int'>

Python Inputs:
--------------

In [11]:
# Variable

name = input('Enter your name : ')

age = int(input('Enter your age : '))

print('')

print(name, ' age is ', age)

print('---------------------------------------------------')

# Data Type

print(name, type(name))

print(age, type(age))

Enter your name :  Admin
Enter your age :  23

Admin  age is  23
---------------------------------------------------
Admin <class 'str'>
23 <class 'int'>