Python Operators:
-----------------

1. Arithmatic Operators
2. Arithmatic Assignment Operators
3. Relational or Comparision Operators
4. Logical Operators
5. In & Not In
6. Is & Is Not
7. Bitwise Operators

# 1. Arithmatic Operators :
---------------------------

1. Addition(+)
2. Subtration(-)
3. Multiplication(*)
4. Division(/)
5. Floor Division(//)
6. Exponentiation(**)
7. modulas(%)

In [1]:
print('Addition(+) : ',10 + 2 )

print('Subtration(-) : ',10 - 2 )

print('Multiplication(*) : ',10 * 2 )

print('Division(/) : ',10 / 2 )

print('Floor Division(//) : ',10 // 2 )

print('Exponentiation(**) : ',10 ** 2 ) # 10 * 10 = 100

print('Modulas(%) : ', 7 % 2) # return remainder value

print('Division(/) : ',7 / 2 ) # return qutiont value

Addition(+) :  12
Subtration(-) :  8
Multiplication(*) :  20
Division(/) :  5.0
Floor Division(//) :  5
Exponentiation(**) :  100
Modulas(%) :  1
Division(/) :  3.5

# 2. Arithmatic Assignment Operators:
-------------------------------------

In [4]:
# Assignment Operators :

a = 10

print('Assignment Operators(=) : ', a)

# Arithmatic Assignment Operators

a = 10
a += 1 # a = a + 1 = a = 10 + 1
print('Arithmatic Assignment Operators (+=) : ', a)

a = 10
a -= 1 # a = a - 1 = a = 10 - 1
print('Arithmatic Assignment Operators (-=) : ', a)

a = 10
a *= 2 # a = a * 2 = a = 10 * 2
print('Arithmatic Assignment Operators (*=) : ', a)

a = 10
a /= 2 # a = a / 2 = a = 10 / 2
print('Arithmatic Assignment Operators (/=) : ', a)

a = 10
a //= 1 
print('Arithmatic Assignment Operators (//=) : ', a)

a = 10
a **= 2
print('Arithmatic Assignment Operators (**=) : ', a)

a = 10
a %= 2 # a = a % 2 = a = 10 * 2
print('Arithmatic Assignment Operators (%=) : ', a)

Assignment Operators(=) :  10
Arithmatic Assignment Operators (+=) :  11
Arithmatic Assignment Operators (-=) :  9
Arithmatic Assignment Operators (*=) :  20
Arithmatic Assignment Operators (/=) :  5.0
Arithmatic Assignment Operators (//=) :  10
Arithmatic Assignment Operators (**=) :  100
Arithmatic Assignment Operators (%=) :  0

In [ ]:
'''
ToDay Work:
-----------

To Write the Python Code for below output

Enter the Value 01: 10
Enter the value 02: 20

10 + 20 = 30
10 - 20 = -10
10 * 20 = 200
10 / 20 = 0.5
10 // 20 =
10 ** 20 = 
10 % 20 = 
'''

# 3. Relational or Comparision Operators:
-----------------------------------------

In [11]:
a = 10

b = 20

print('Less than : ', a < b) # 10 < 20

print('Grater than : ', a > b) # 10 > 20

print('Less than or equal : ', a <= b) # 10 <= 20

print('Grater than or equal : ', a >= b) # 10 >= 20

print('Equal : ', a == b) # 10 == 20

print('Not Equal : ', a != b) # 10 != 20

Less than :  True
Grater than :  False
Less than or equal :  True
Grater than or equal :  False
Equal :  False
Not Equal :  True

If Condition:
-------------

In [17]:
age = 20

print(age >= 18)

print('---------------------------------')

if (age >= 18):
    print('Eligible for vote')

True
---------------------------------
Eligible for vote

If & Else Condition:
--------------------

In [21]:
age = 10

print(age >= 18)

print('---------------------------------')

if (age >= 18):
    print(age, '- Eligible for vote')
else:
    print(age, '- Not Eligible for vote')

False
---------------------------------
10 - Not Eligible for vote

If & Elif & else:
-----------------

In [30]:
age = 20

print(age, '>=', 18, age >= 18)

print(age, '==', 17, age == 17)

print(age, '==', 16, age == 16)

print('---------------------------------')

if (age >= 18):
    print(age, '- Eligible for vote')
elif (age == 17):
    print(age, '- wait for 1 year to eligible for vote')
elif (age == 16):
    print(age, '- wait for 2 year to eligible for vote')
else:
    print(age, '- Not Eligible for vote')

20 >= 18 True
20 == 17 False
20 == 16 False
---------------------------------
20 - Eligible for vote

# 4. Logical Operators
----------------------

In [39]:
# Logical and Operators 
# 1. Any one condition have false then everything is false

name = 'Sara Dev'

age = 25

print(name == 'Sara')

print(age == 25)

print((name == 'Sara') and (age == 25))

print('---------------------------------------------------------')

if ((name == 'Sara') and (age == 25)):
    print('Yes the name and age is correct')

else:
    print('No the name and  age is Incorrect')

False
True
False
---------------------------------------------------------
No the name and  age is Incorrect

In [40]:
# Logical or Operators 
# 1. Any one condition have true then everything is true

name = 'Sara Dev'

age = 25

print(name == 'Sara')

print(age == 25)

print((name == 'Sara') or (age == 25))

print('---------------------------------------------------------')

if ((name == 'Sara') or (age == 25)):
    print('Yes the name and age is correct')

else:
    print('No the name and age is Incorrect')

False
True
True
---------------------------------------------------------
Yes the name and age is correct

In [41]:
# Logical not Operators 
# 1. if condition have a False then Return True 
# 2. if condition have a True then Return False 

name = 'Sara Dev'

age = 25

print(name == 'Sara')

print(age == 25)

print ((name == 'Sara') or (age == 25)) # True

print (not((name == 'Sara') or (age == 25))) # not(True) = False

print('---------------------------------------------------------')

if not((name == 'Sara') or (age == 25)):
    print('Yes the name and age is correct')

else:
    print('No the name and age is Incorrect')

False
True
True
False
---------------------------------------------------------
No the name and age is Incorrect

# 05 In & Not In:
-----------------

Membership Operators

In [2]:
details = ['Sara', 25, 'Male', 'TN']

print(details)

print('---------------------------------------')

print('Sara' in details)


print('---------------------------------------')

print('Sara' not in details)

['Sara', 25, 'Male', 'TN']
---------------------------------------
True
---------------------------------------
False

# 06. Is, Is Not Operators:
---------------------------

Identity Operators

In [9]:
a = 10

b = 10

print(a, type(a), id(a))

print(b, type(b), id(b))

print('-------------------------------------')

print(a is b)

print('-------------------------------------')

print(a is not b)

10 <class 'int'> 140724106110152
10 <class 'int'> 140724106110152
-------------------------------------
True
-------------------------------------
False

In [12]:

value = 10
print((value % 2) == 0)

True