Loop Pattern Program Using Nested Loop:
---------------------------------------

In [1]:
# Example 01

for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
# Example 02

for i in range(5):
    print(i, end=' ')

0 1 2 3 4

In [14]:
# Loop Pattern

# Example 01

'''
step 01:

Outer Loop
i = 0 True

Inner Loop
j = 0
i = 0

0 < 0 False

Outer Loop
i = 1 True

Inner Loop
j = 0
i = 1

0 < 1 True
1

j = 1
i = 1

1 < 1 False

Outer Loop
i = 2

Inner Loop
j = 0
i = 2

0 < 2 True
2

j = 1
i = 2

1 < 2 True
2

j = 2
i = 2

2 < 2 False
'''

for i in range(6): # 6 < 6 False
    for j in range(i):
        print(i, end=' ')

    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [18]:
# Loop Pattern

# Example 02

for i in range(6): # 6 < 6 False
    for j in range(i):
        print('#', end=' ')

    print('')

#
# #
# # #
# # # #
# # # # #

In [23]:
# Loop Pattern

# Example 03

for i in range(6): # 6 < 6 False
    for j in range(1, i+1):
        print(j, end=' ')

    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [24]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [26]:
'''
Capital Letter = A - Z : Asci Value = 65 - 90
Small Letter = a -z    : Asci Value = 97 - 122
'''

print(chr(65))

A

In [29]:
for i in range(65, 90+1):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [32]:
for i in range(97, 122+1):
    print(chr(i))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [35]:
for i in range(1, 6):
    for j in range(1, 6):
        print(i, end= ' ')
    print('')

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
'''
ToDay Work:
-----------

To Write the Python Code for Below OutPut: Using Nested Loop

OutPut 01:

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

OutPut 02:

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

OutPut 03:

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E


OutPut 04:

A
A B
A B C
A B C D
A B C D E
'''