List:
-----

1. List is a collection of datatype.
2. It's declare []
3. It's store n number of values. Different Datatype values can store in a single variable

In [8]:
details = ['Sara', 23, 'male', True, [50, 60, 70], 50.0]

print(details, type(details))

print('------------------------------------------------------------')

print('Name : ', details[0], type(details[0]))
print('Age : ', details[1])
print('Gender : ', details[2])
print('Maritial Status : ', details[3])
print('Mark Details : ', details[4])
print('Average : ', details[5])

['Sara', 23, 'male', True, [50, 60, 70], 50.0] <class 'list'>
------------------------------------------------------------
Name :  Sara <class 'str'>
Age :  23
Gender :  male
Maritial Status :  True
Mark Details :  [50, 60, 70]
Average :  50.0

In [16]:
print('Mark Details : ', details[4])

print('------------------------------------------------------------')

print(details[4][0])

print(details[4][1])

print(details[4][2])

print('------------------------------------------------------------')

# List Manipulation

print(details[2:3+1])

Mark Details :  [50, 60, 70]
------------------------------------------------------------
50
60
70
------------------------------------------------------------
['male', True]

In [18]:
details = ['Sara', 23, 'male', True, [50, 60, 70], 50.0]

print(details, type(details))

print('------------------------------------------------------------')

for i in details:
    print(i)

['Sara', 23, 'male', True, [50, 60, 70], 50.0] <class 'list'>
------------------------------------------------------------
Sara
23
male
True
[50, 60, 70]
50.0

In [ ]:
'''
ToDay Work. To Write the Python Code for. below Output using For Loop

['Sara', 23, 'male', True, [50, 60, 70], 50.0] <class 'list'>
------------------------------------------------------------

Name :  Sara
Age :  23
Gender :  male
Maritial Status :  True

Mark Details :  [50, 60, 70]
Mark 01: 50
Mark 02: 60
Mark 03: 70

Total : 180
Average :  50.0
'''

Min, Max, Sum:
--------------

In [26]:
salaryDetails = [5000, 6000, 4000, 3500, 5500, 6500, 7000, 8000, 7500, 10000, 9000]

print(salaryDetails)

print('------------------------------------------------------------')

print('Min : ', min(salaryDetails))

print('Max : ', max(salaryDetails))

print('Sum : ', sum(salaryDetails))

print('Length : ', len(salaryDetails))

print('------------------------------------------------------------')

sumValue = sum(salaryDetails)

lenValue = len(salaryDetails)

average = sumValue / lenValue

print('Average : ', average)

[5000, 6000, 4000, 3500, 5500, 6500, 7000, 8000, 7500, 10000, 9000]
------------------------------------------------------------
Min :  3500
Max :  10000
Sum :  72000
Length :  11
------------------------------------------------------------
Average :  6545.454545454545

Add & Update List Values After Variable Declaration:
----------------------------------------------------

In [9]:
list01 = ['Sara', 26, 'Male']

print(list01)

print('-------------------------------------------------------------------')

# Append

list01.append(9500912258)

print(list01)

print('-------------------------------------------------------------------')

print(list01[1])

# Value update using Index Position

list01[1] = 30

print(list01)

['Sara', 26, 'Male']
-------------------------------------------------------------------
['Sara', 26, 'Male', 9500912258]
-------------------------------------------------------------------
26
['Sara', 30, 'Male', 9500912258]

Delete List Values:
-------------------

In [15]:
list01 = ['Sara', 26, 'Male', 9500912258]

print(list01)

print('-------------------------------------------------------------------')

# Delete Last index value using pop method

list01.pop()

print(list01)

print('-------------------------------------------------------------------')

# Delete Particular Values Using Index Postion

list01.pop(1)

print(list01)

print('-------------------------------------------------------------------')

# Delete Particular Values Using values

list01.remove('Sara')

print(list01)

['Sara', 26, 'Male', 9500912258]
-------------------------------------------------------------------
['Sara', 26, 'Male']
-------------------------------------------------------------------
['Sara', 'Male']
-------------------------------------------------------------------
['Male']

Add Two List Variable using Extend Method
-----------------------------------------

In [17]:
list01 = ['Sara', 26, 'male']

list02 = [9500912258, True]

print(list01)

print(list02)

print('-------------------------------------------------------------------')

list01.extend(list02)

print(list01)

['Sara', 26, 'male']
[9500912258, True]
-------------------------------------------------------------------
['Sara', 26, 'male', 9500912258, True]

Insert values into Particualar Index Position after List Variable Declaration
-----------------------------------------------------------------------------

In [19]:
list01 = ['Sara', 26, 'Male']

print(list01)

print('-------------------------------------------------------------------')

list01.insert(1, 'sara@gmail.com')

print(list01)

['Sara', 26, 'Male']
-------------------------------------------------------------------
['Sara', 'sara@gmail.com', 26, 'Male']

Sort 
----

In [24]:
ageValues = [30, 28, 25, 29, 32, 26, 23, 25, 22, 18, 20, 17]

print(ageValues)

print('-------------------------------------------------------------------')

ageValues.sort()

print(ageValues)

print('-------------------------------------------------------------------')

ageValues.sort(reverse = True)

print(ageValues)

[30, 28, 25, 29, 32, 26, 23, 25, 22, 18, 20, 17]
-------------------------------------------------------------------
[17, 18, 20, 22, 23, 25, 25, 26, 28, 29, 30, 32]
-------------------------------------------------------------------
[32, 30, 29, 28, 26, 25, 25, 23, 22, 20, 18, 17]