Functions:
----------

1. Function is a block of code. which only runs when it is called.
2. Function Declration

    def function_Name():
       block of code....
       .....

3. Function Call

    function_Name()

In [1]:
# Example 01:
# Function Creation

def welcome():
    print('Welcome Python Functions')

In [6]:
# Call the function

welcome()

welcome()

welcome()

Welcome Python Functions
Welcome Python Functions
Welcome Python Functions

Funtion Type 01 'No Return Type With Out Argument'
--------------------------------------------------

In [14]:
def add():
    a = int(input('Enter your value 01 : '))
    b = int(input('Enter your value 02 : '))

    print(a, ' + ', b, ' = ', a + b)
    print(a, ' - ', b, ' = ', a - b)

In [15]:
add()

print('--------------------------------')

add()

Enter your value 01 :  11
Enter your value 02 :  1

11  +  1  =  12
11  -  1  =  10
--------------------------------

Enter your value 01 :  22
Enter your value 02 :  2

22  +  2  =  24
22  -  2  =  20

In [11]:
for i in range (3):
    add()
    print('-----------------')

Enter your value 01 :  11
Enter your value 02 :  1

11  +  1  =  12
-----------------

Enter your value 01 :  22
Enter your value 02 :  2

22  +  2  =  24
-----------------

Enter your value 01 :  33
Enter your value 02 :  3

33  +  3  =  36
-----------------

Funtion Type 02 'No Return Type With Argument'
----------------------------------------------

In [20]:
def add(a, b):
    print(a, ' + ', b, ' = ', a + b)
    print(a, ' - ', b, ' = ', a - b)

In [21]:
add(10, 2)

print('------------------------------------------')

add(20, 2)

print('------------------------------------------')

add(30, 2)

10  +  2  =  12
10  -  2  =  8
------------------------------------------
20  +  2  =  22
20  -  2  =  18
------------------------------------------
30  +  2  =  32
30  -  2  =  28

Funtion Type 03 'Return Type With Out Argument'
-----------------------------------------------

In [22]:
def add():
    a = int(input('Enter your value 01 : '))
    b = int(input('Enter your value 02 : '))

    c = a + b
    return c

In [24]:
print(add())

print('---------------------------------------------')

ans = add()

print(ans)

Enter your value 01 :  12
Enter your value 02 :  2

14
---------------------------------------------

Enter your value 01 :  12
Enter your value 02 :  3

15

Funtion Type 04 'Return Type With Argument'
-------------------------------------------

In [1]:
def add(a, b):
    c = a + b
    return c

In [26]:
print(add(10, 5))

print('-----------------------------------------------')

ans = add(20, 5)

print(ans)

15
-----------------------------------------------
25

In [ ]:
'''
ToDay Work:
-----------

To Write the Python Code for velow output Using Functions

function Call:
--------------

table01()

print('----------------------------------')

table01()

output:
-------

Enter the Limit value: 3

Enter the Table value: 2

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6

print('----------------------------------')

Enter the Limit value: 3

Enter the Table value: 3

1 x 3 = 3
2 x 3 = 6
3 x 3 = 9

'''

In [6]:
table = 2

for i in range (1, 6):
    print(i, ' * ', table, ' = ', i * 2)

1  *  2  =  2
2  *  2  =  4
3  *  2  =  6
4  *  2  =  8
5  *  2  =  10

In [12]:
def table(table):
    for i in range (1, 6):
        print(i, ' * ', table, ' = ', i * table)

In [13]:
table(3)

print('----------------------------------------------------')

table(4)

print('----------------------------------------------------')

table(5)

1  *  3  =  3
2  *  3  =  6
3  *  3  =  9
4  *  3  =  12
5  *  3  =  15
----------------------------------------------------
1  *  4  =  4
2  *  4  =  8
3  *  4  =  12
4  *  4  =  16
5  *  4  =  20
----------------------------------------------------
1  *  5  =  5
2  *  5  =  10
3  *  5  =  15
4  *  5  =  20
5  *  5  =  25

Arbitrary Argument Function:
----------------------------

In [17]:
def studentNames(*names):
    print(names, type(names))

In [18]:
studentNames('Sara', 'Lara', 'thara', 'dhara')

('Sara', 'Lara', 'thara', 'dhara') <class 'tuple'>

In [19]:
def studentNames(names):
    print(names, type(names))

In [20]:
studentNames(['Sara', 'Lara', 'thara', 'dhara'])

['Sara', 'Lara', 'thara', 'dhara'] <class 'list'>

keyword Argument Function:
--------------------------

In [23]:
def studentDetails(studId, age, name, gender):
    print(studId, name, age, gender)

In [25]:
studentDetails(studId = '101', age = 27, gender = 'Male', name = 'Sara')

101 Sara 27 Male

Keyword Arbitrary Argument Function:
------------------------------------

In [26]:
def studentDetails(**details):
    print(details, type(details))

In [27]:
studentDetails(studId = '101', age = 27, gender = 'Male', name = 'Sara')

{'studId': '101', 'age': 27, 'gender': 'Male', 'name': 'Sara'} <class 'dict'>

Default Parameter Function:
---------------------------

In [32]:
def studentDetails(studId, age, name, gender, city = 'Chennai'):
    print(studId, name, age, gender, city)

In [35]:
studentDetails(101, 'Sara', 27, 'Male','Dindigul')

print('----------------------------------------------------------')

studentDetails(101, 'Sara', 27, 'Male')

101 27 Sara Male Dindigul
----------------------------------------------------------
101 27 Sara Male Chennai

Lambda Function:
----------------

In [37]:
addTwoValue = lambda a,b:a+b

print('-------------------------------------')

print(addTwoValue(10,2))

print(addTwoValue(20,2))

print(addTwoValue(30,2))

-------------------------------------
12
22
32