In [1]:
import pandas as pd

Read Csv File:
--------------

In [2]:
# Open CSV file

df = pd.read_csv("weather_data.csv")

df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

Get Row values:
---------------

In [3]:
print(df.head())  # Displays the first 5 rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [4]:
print(df.head(2))

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [5]:
print(df.tail())  # Displays the last 5 rows

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
print(df.tail(2))

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

Get Column values:
------------------

In [7]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [9]:
df['day'] # or df.day

print(df['day'])

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [13]:
dfr = df['temperature']

dfr

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [14]:
print(dfr.head(2))

0    32
1    35
Name: temperature, dtype: int64

Operations On DataFrame:
------------------------

In [15]:
print(df['temperature'].max())

35

In [17]:
df[df['temperature'] > 31]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [18]:
df['temperature'].max()

np.int64(35)

In [19]:
[df['temperature'] == df['temperature'].max()]

[0    False
 1     True
 2    False
 3    False
 4    False
 5    False
 Name: temperature, dtype: bool]

In [20]:
df['day'][df['temperature'] == df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

In [21]:
df[['day', 'temperature', 'event']][df['temperature'] == df['temperature'].max()]

        day  temperature  event
1  1/2/2017           35  Sunny

In [22]:
df[df['temperature'] == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny