Tuple:
------

1. Tuple is a collection of Datatype
2. It can store N number of values different Datatype values in a single variable.
3. Tuple is a immuatable.
4. It will be declare ()
5. Tuple also assign a index base value

In [7]:
studentDetails = (100, 'Sara', 27, 'Gender')

print(studentDetails, type(studentDetails))

print('------------------------------------------------------')

# get a value using particular index position

print(studentDetails[1])

# get a last two values using index Manipulation

print(studentDetails[2:3+1])

(100, 'Sara', 27, 'Gender') <class 'tuple'>
------------------------------------------------------
Sara
(27, 'Gender')

In [11]:
studentDetails = (100, 'Sara', 27, 'Gender')

print(studentDetails, type(studentDetails))

print('------------------------------------------------------')

for i in studentDetails:
    print(i)

print('------------------------------------------------------')

if 'Sara' in studentDetails:
    print('yes value is in your variable')
else:
    print('No value is not in your variable')

(100, 'Sara', 27, 'Gender') <class 'tuple'>
------------------------------------------------------
100
Sara
27
Gender
------------------------------------------------------
yes value is in your variable

# Tuple is a Immutable:
-----------------------

Cannot change(add, remove) values after variable creation

In [16]:
studentDetails = (100, 'Sara', 27, 'Gender')

print(studentDetails, type(studentDetails))

print('------------------------------------------------------')

studentDetails.append(9500912258) # Error - 'tuple' object has no attribute 'append'

print(studentDetails)

(100, 'Sara', 27, 'Gender') <class 'tuple'>
------------------------------------------------------

AttributeError: 'tuple' object has no attribute 'append'

Type Casting:
-------------
    One Datatype to Another DataType will change
Possible
--------
1. int to float
2. float to int
3. int or float to string
4. tuple to list
5. list to tupe
6. list or tuple to set

Not Possible
------------
1. string to int or float

In [18]:
average = 99.50

print(average, type(average))

print('-------------------------')

average = int(average)

print(average, type(average))

99.5 <class 'float'>
-------------------------
99 <class 'int'>

In [21]:
studentDetails = (100, 'Sara', 27, 'Gender')

print(studentDetails, type(studentDetails))

print('------------------------------------------------------')

studentDetails = list(studentDetails)

print(studentDetails, type(studentDetails))

studentDetails.append(9500912258) 

print(studentDetails)

print('------------------------------------------------------')

studentDetails = tuple(studentDetails)

print(studentDetails, type(studentDetails))

(100, 'Sara', 27, 'Gender') <class 'tuple'>
------------------------------------------------------
[100, 'Sara', 27, 'Gender'] <class 'list'>
[100, 'Sara', 27, 'Gender', 9500912258]
------------------------------------------------------
(100, 'Sara', 27, 'Gender', 9500912258) <class 'tuple'>