Set:
----

1. Set is a Collection of Datatype.
2. It can store n number values and different datatype values in a single variable
3. Declare { }
4. Remove Duplicate values
5. Cannot index based values.

In [1]:
ageValues = {10, 20, 15, 16, 18, 10, 15, 19, 20, 22}

print(ageValues, type(ageValues))

{16, 18, 19, 20, 22, 10, 15} <class 'set'>

In [2]:
details = {101, 'Sara', 28, 'sara@gmail.com', 'Sara', 101}

print(details, type(details))

{101, 'sara@gmail.com', 28, 'Sara'} <class 'set'>

# Add Values after variable Declaration
---------------------------------------

In [6]:
details01 = {101, 'Sara', 28}

print(details01, type(details01))

print('--------------------------------------------')

details01.add('sara@gmail.com')

print(details01, type(details01))

{28, 101, 'Sara'} <class 'set'>
--------------------------------------------
{'sara@gmail.com', 28, 101, 'Sara'} <class 'set'>

Update Values after two Variable Declaration
--------------------------------------------

In [8]:
details01 = {101, 'Sara', 28}

print(details01, type(details01))

print('--------------------------------------------')

details02 = {'sara@gmail.com', 9500912258}

print(details02, type(details02))

print('--------------------------------------------')

details01.update(details02)

print(details01, type(details01))

{28, 101, 'Sara'} <class 'set'>
--------------------------------------------
{9500912258, 'sara@gmail.com'} <class 'set'>
--------------------------------------------
{9500912258, 101, 28, 'sara@gmail.com', 'Sara'} <class 'set'>

Remove values:
--------------

In [14]:
details = {101, 'Sara', 28, 'sara@gmail.com', 'Sara', 101}

print(details, type(details))

print('-----------------------------------------------------------')

details.remove('Sara')

print(details, type(details))

print('-----------------------------------------------------------')
# Discard

details.discard(9500912258)

print(details, type(details))

details.discard(28)

print(details, type(details))

print('-----------------------------------------------------------')

details.remove(9500912258)

print(details, type(details))

{28, 'sara@gmail.com', 101, 'Sara'} <class 'set'>
-----------------------------------------------------------
{28, 'sara@gmail.com', 101} <class 'set'>
-----------------------------------------------------------
{28, 'sara@gmail.com', 101} <class 'set'>
{'sara@gmail.com', 101} <class 'set'>
-----------------------------------------------------------

KeyError: 9500912258

In [ ]:
'''
1. union
2. intersection
3. symmetric Difference
'''