Dictionary:
-----------

1. Dictionary Is Collection of Datatype.
2. It can Store N Number of Different Datatype in a Single Variable baseddon Key and Pair values.
3. {'Key': 'Value'}
4. It Can not store Values Index Based
5. It Can Always used for Remove Douplicate Values

In [4]:
details = {'StudentID': 101, 'Name': 'Sara', 'Age': 25, 'Married': False}

print(details, type(details))

{'StudentID': 101, 'Name': 'Sara', 'Age': 25, 'Married': False} <class 'dict'>

Get a Single Value:
-------------------

In [7]:
details = {'StudentID': 101, 'Name': 'Sara', 'Age': 25, 'Married': False}

print(details)

print('----------------------------------------------------------------')

StudentAge = details['Age']

print(StudentAge, type(StudentAge))

print('----------------------------------------------------------------')

studId = details['StudentID']
studName = details['Name']
studAge = details['Age']
MaritialStatus = details['Married']

print(studId, '-', studName, '-', studAge, '-', MaritialStatus)

{'StudentID': 101, 'Name': 'Sara', 'Age': 25, 'Married': False}
----------------------------------------------------------------
25 <class 'int'>
----------------------------------------------------------------
101 - Sara - 25 - False

If Condition in Dictionary DataType:
------------------------------------

In [1]:
details = {'StudentID': 101, 'Name': 'Sara', 'Age': 25, 'Married': False}

print(details)

print('----------------------------------------------------------------')

StudentAge = details['Age']

print(StudentAge, type(StudentAge))

print('----------------------------------------------------------------')

if StudentAge >= 18:
    print(StudentAge, 'Eligible for vote')
else:
    print(StudentAge, 'Not eligible for vote')

{'StudentID': 101, 'Name': 'Sara', 'Age': 25, 'Married': False}
----------------------------------------------------------------
25 <class 'int'>
----------------------------------------------------------------
25 Eligible for vote

In [12]:
for i in details:
    print(i, '- ', details[i])

StudentID -  101
Name -  Sara
Age -  25
Married -  False

In [3]:
users = {
    'user1': {'Name': 'Sara', 'Age': 25},
    'user2': {'Name': 'Admin', 'Age': 22}     
}

print(users, type(users))

{'user1': {'Name': 'Sara', 'Age': 25}, 'user2': {'Name': 'Admin', 'Age': 22}} <class 'dict'>

In [7]:
# user1 Values

user01Name = users ['user1'] ['Name']

user01Age = users ['user1']['Age']

print(user01Name, ' your age is ', user01Age)

Sara  your age is  25

Change Values after Variable Declaration:
-----------------------------------------

In [10]:
details = {'StudentID': 101, 'Name': 'Sara', 'Age': 25, 'Married': False}

print(details)

print('----------------------------------------------------------------')

studentName = details['Name']

print(studentName)

print('----------------------------------------------------------------')

details['Name'] = 'Dev' 

print(details)

{'StudentID': 101, 'Name': 'Sara', 'Age': 25, 'Married': False}
----------------------------------------------------------------
Sara
----------------------------------------------------------------
{'StudentID': 101, 'Name': 'Dev', 'Age': 25, 'Married': False}

Add Values after Variable Declaration:
--------------------------------------

In [16]:
details = {'StudentID': 101, 'Name': 'Sara', 'Age': 25, 'Married': False}

print(details)

print('----------------------------------------------------------------')

details.update({'Mobile' : 9500912258})

print(details)

print('----------------------------------------------------------------')

afterV_Dict = {'AccNo': 10950091225801, 'City': 'Chennai'}

details.update(afterV_Dict)

print(details)

{'StudentID': 101, 'Name': 'Sara', 'Age': 25, 'Married': False}
----------------------------------------------------------------
{'StudentID': 101, 'Name': 'Sara', 'Age': 25, 'Married': False, 'Mobile': 9500912258}
----------------------------------------------------------------
{'StudentID': 101, 'Name': 'Sara', 'Age': 25, 'Married': False, 'Mobile': 9500912258, 'AccNo': 10950091225801, 'City': 'Chennai'}

Remove Values after Variable Declaration:
-----------------------------------------

In [19]:
details = {'StudentID': 101, 'Name': 'Sara', 'Age': 25, 'Married': False}

print(details)

print('----------------------------------------------------------------')

details.pop('Married')

print(details)

print('----------------------------------------------------------------')

details.clear()

print(details)

{'StudentID': 101, 'Name': 'Sara', 'Age': 25, 'Married': False}
----------------------------------------------------------------
{'StudentID': 101, 'Name': 'Sara', 'Age': 25}
----------------------------------------------------------------
{}

In [21]:
users = {
    'user1': {'Name': 'Sara', 'Age': 25},
    'user2': {'Name': 'Admin', 'Age': 22},
    'user3': {'Name': 'Dev', 'Age': 21}
}

print(users, type(users))
print('----------------------------------------------------------------')

# user1 Values

user01Name = users ['user1'] ['Name']

user01Age = users ['user1']['Age']

print(user01Name, ' your age is ', user01Age)

# user2 Values

user02Name = users ['user2'] ['Name']

user02Age = users ['user2']['Age']

print(user02Name, ' your age is ', user02Age)

{'user1': {'Name': 'Sara', 'Age': 25}, 'user2': {'Name': 'Admin', 'Age': 22}} <class 'dict'>
----------------------------------------------------------------
Sara  your age is  25
Admin  your age is  22