Different Ways Of Creating Dataframe
------------------------------------
# 1. Using dictionary

In [1]:
import pandas as pd

In [2]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}

print(weather_data, type(weather_data))

{'day': ['1/1/2017', '1/2/2017', '1/3/2017'], 'temperature': [32, 35, 28], 'windspeed': [6, 7, 2], 'event': ['Rain', 'Sunny', 'Snow']} <class 'dict'>

In [4]:
# Creating DataFrame

df = pd.DataFrame(weather_data)

df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

# 2. Using Tuple List
---------------------

In [5]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]

print(weather_data, type(weather_data))

[('1/1/2017', 32, 6, 'Rain'), ('1/2/2017', 35, 7, 'Sunny'), ('1/3/2017', 28, 2, 'Snow')] <class 'list'>

In [6]:
# Creating DataFrame

df = pd.DataFrame(data = weather_data, columns = ['day', 'temperature', 'windspeed', 'event'])

df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

# 3. Using List of Dictionary:
------------------------------

In [7]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},   
]

print(weather_data, type(weather_data))

[{'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'}, {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'}, {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'}] <class 'list'>

In [8]:
# Creating DataFrame

df = pd.DataFrame(data = weather_data, columns = ['day', 'temperature', 'windspeed', 'event'])

df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow